@addTagHelper *, Kendo.Mvc
@using Kendo.Mvc.UI

<div class="demo-section wide">
    <h4>WebMail</h4>
    @(Html.Kendo().ListView<Kendo.Mvc.Examples.Models.WebMail>()
    .Name("listview-context-menu")
    .TagName("div")
    .ClientTemplateId("template")
    .DataSource(dataSource => dataSource
        .Ajax()
        .Read(read => read.Action("WebMailData", "Menu"))
        .PageSize(5)
    ))

    <kendo-contextmenu name="menu" target="#listview-context-menu" filter=".product">
        <popup-animation>
            <open effects="fade:in" duration="500" />
        </popup-animation>
        <items>
            <menu-item text="Reply" image-url="@Url.Content("~/shared/web/toolbar/reply.png")">
                <sub-items>
                    <menu-item text="Reply To Sender" image-url="@Url.Content("~/shared/web/toolbar/reply.png")"></menu-item>
                    <menu-item text="Reply To All" image-url="@Url.Content("~/shared/web/toolbar/reply.png")"></menu-item>
                </sub-items>
            </menu-item>
            <menu-item text="Forward"></menu-item>
            <menu-item text="Mark as">
                <sub-items>
                    <menu-item text="Unread"></menu-item>
                    <menu-item separator="true"></menu-item>
                    <menu-item text="Important"></menu-item>
                    <menu-item text="Read"></menu-item>
                </sub-items>
            </menu-item>
            <menu-item text="Label as">
                <sub-items>
                    <menu-item text="None"></menu-item>
                    <menu-item separator="true"></menu-item>
                    <menu-item text="Important" image-url="@Url.Content("~/shared/web/toolbar/important.png")"></menu-item>
                    <menu-item text="Work" image-url="@Url.Content("~/shared/web/toolbar/todo.png")"></menu-item>
                    <menu-item text="Personal" image-url="@Url.Content("~/shared/web/toolbar/done.png")"></menu-item>
                    <menu-item separator="true"></menu-item>
                    <menu-item text="New Label"></menu-item>
                </sub-items>
            </menu-item>
        </items>
    </kendo-contextmenu>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="product">
        <img src="@Url.Content("~/shared/images/employees/")#: FromID #.png" alt="#: From #" />

        <h3>#:Title#</h3>
        <p class="date">#:Date#</p>
        <p>#:From#</p>
    </div>
</script>

<script>
    $(document).ready(function() {
        var menu = $("#menu"),
            original = menu.clone(true);

        original.find(".k-state-active").removeClass("k-state-active");

        $("#apply").click(function (e) {
            e.preventDefault();
            var clone = original.clone(true);

            menu.getKendoContextMenu().destroy();
            clone.appendTo("#example");

            initMenu();
        });

        var initMenu = function () {

            menu = $("#menu").kendoContextMenu({
                target: "#listview-context-menu",
                filter: ".product",
                animation: {
                    open: { effects: "fadeIn" },
                    duration: 500
                },
                select: function(e) {
                    // Do something on select
                }
            });
        };
    });
</script>

<style>
    #listview-context-menu {
        padding: 0;
        margin-bottom: -1px;
        min-height: 300px;
    }

    .product {
        position: relative;
        height: 62px;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgba(128,128,128,.3);
    }

        .product img {
            width: 40px;
            height: 40px;
            border-radius: 40px;
            margin: 10px;
            border: 1px solid #000;
            float: left;
        }

        .product h3 {
            margin: 0;
            padding: 15px 5px 1px 0;
            overflow: hidden;
            line-height: 1em;
            font-size: 1.1em;
            font-weight: bold;
        }

        .product p {
            font-size: .9em;
        }

        .product .date {
            float: right;
            margin: -8px 15px 0 0;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>
