@addTagHelper *, Kendo.Mvc

@{
    var stylesheets = new string[] { "~/shared/web/editor/editorStyles.css" };
}
<div id="example" class="demo-section wide editor">
    <kendo-editor stylesheets="stylesheets" tag="textarea" name="editor" style="width: 100%; height:470px" value="@{<text>
                        <br />
                        <p style="text-align:center;">
                            <span style="font-family:Verdana, Geneva, sans-serif;font-size:large;">
                                <strong>One of the Most Beautiful Islands on Earth - Tenerife</strong>
                            </span>
                        </p>
                        <p>
                            <span style="font-family:Verdana, Geneva, sans-serif;font-size:medium;">
                                <strong>Overview</strong>
                            </span>
                        </p>
                        <p style="font-size: small;">
                            <strong>Tenerife </strong>is the largest and most populated island of the eight <a href="https://en.wikipedia.org/wiki/Canary_Islands" target="_blank"> Canary Islands</a>. It is also the most populated island of <strong>Spain</strong>, with a land area of 2,034.38 square kilometers(785 sq mi) and 904,713 inhabitants, 43 % of the total population of the <strong>Canary Islands</strong>. The archipelago's beaches, climate and important natural attractions, make it a major tourist destination with over 12 million visitors per year.
                        </p>
                        <br />
                        <p>
                            <span style="font-family:Verdana, Geneva, sans-serif;font-size:medium;">
                                <strong>Trip Highlights in Tenerife</strong>
                            </span>
                        </p>
                        <ul>
                            <li>
                                <strong style="color: rgb(0,80,5);">Trip to Loro Parque </strong> <br /> Out top tip is to visit the famous <em>Loro Parque</em> or 'Loro Park. It is a 13.5-hectare zoo on the outskirts of Puerto de la Cruz on Tenerife, Spain where it houses an extensive and diverse reserve of animal and plant species.
                                <br />
                                <br />
                            </li>
                            <li>
                                <strong><span style="color: rgb(46,125,50);">Whale and Dolphin Watching Tour&nbsp;<br /></span></strong> Another great option is to take boat excursion with almost guaranteed sightings of whales and dolphins. This is a day-long trip that includes lunch, island visits, fishing, and amazing views of ocean sceneries.
                                <br />
                                <br />
                            </li>
                            <li>
                                <strong><span style="color: rgb(96,173,94);">Teide National Park Stargazing</span></strong><br />Last, but not least you can take a stargaze trip to Teide National Park, the 3rd best place in the world to view stars and described by NASA as a window to the universe.
                                <br />
                            </li>
                        </ul>
            </text> }">
	<tools>
	 	<tool name="formatting">
	 	</tool>
	 	<tool name="bold">
	 	</tool>
	 	<tool name="italic">
	 	</tool>
	 	<tool name="underline">
	 	</tool>
	 	<tool name="undo">
	 	</tool>
	 	<tool name="redo">
	 	</tool>
	 	<tool name="justifyLeft">
	 	</tool>
	 	<tool name="justifyCenter">
	 	</tool>
	 	<tool name="justifyRight">
	 	</tool>
	 	<tool name="copyFormat">
	 	</tool>
	 	<tool name="applyFormat">
	 	</tool>
	 	<tool name="insertUnorderedList">
	 	</tool>
	 	<tool name="insertOrderedList">
	 	</tool>
	 	<tool name="indent">
	 	</tool>
	 	<tool name="outdent">
	 	</tool>
	 	<tool name="createLink">
	 	</tool>
	 	<tool name="unlink">
	 	</tool>
	 	<tool name="insertImage">
	 	</tool>
	 	<tool name="tableWizard">
	 	</tool>
	 	<tool name="createTable">
	 	</tool>
	 	<tool name="addColumnLeft">
	 	</tool>
	 	<tool name="addColumnRight">
	 	</tool>
	 	<tool name="addRowAbove">
	 	</tool>
	 	<tool name="addRowBelow">
	 	</tool>
	 	<tool name="deleteColumn">
	 	</tool>
	 	<tool name="deleteRow">
	 	</tool>
	 	<tool name="mergeCellsHorizontally">
	 	</tool>
	 	<tool name="mergeCellsVertically">
	 	</tool>
	 	<tool name="splitCellHorizontally">
	 	</tool>
	 	<tool name="splitCellVertically">
	 	</tool>
	 	<tool name="tableAlignLeft">
	 	</tool>
	 	<tool name="tableAlignCenter">
	 	</tool>
	 	<tool name="tableAlignRight">
	 	</tool>
	</tools>
	<image-browser file-types="*.png,*.gif,*.jpg,*.jpeg">
         <image-browser-transport upload-url="@Url.Action("Upload", "ImageBrowser")" image-url="../shared/UserFiles/Images/{0}">
                <create url="@Url.Action("Create", "ImageBrowser")" />
                <read url="@Url.Action("Read", "ImageBrowser")" />
                <destroy url="@Url.Action("Destroy", "ImageBrowser")" />
         </image-browser-transport>
	</image-browser>
	<file-browser file-types="*.*">
         <file-browser-transport upload-url="@Url.Action("Upload", "FileBrowser")" file-url="../shared/UserFiles/Images/{0}">
                <create url="@Url.Action("Create", "FileBrowser")" />
                <read url="@Url.Action("Read", "FileBrowser")" />
                <destroy url="@Url.Action("Destroy", "FileBrowser")" />
         </file-browser-transport>
	</file-browser>
</kendo-editor>
</div>